@charset "UTF-8";
/* Clearfix */
.row {
  *zoom: 1; }

.row:before, .row:after {
  display: table;
  content: "";
  line-height: 0; }

.row:after {
  clear: both; }

/* Nested grid */
.row > .row {
  clear: none;
  float: left;
  margin: 0 !important; }

/* Default block */
.col {
  float: left;
  width: 100%; }

/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
/* Global Reset */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  widows: 100%; }

body {
  background-color: #FFF;
  font: 16px 'Ubuntu Mono', Helvetica, Arial, sans-serif;
  text-align: center; }

h1 {
  margin-bottom: 1em; }

p {
  margin: 1em 0; }

a {
  color: #00a; }

a:hover {
  color: #000; }

a:visited {
  color: #a0a; }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
.site {
  text-align: justify;
  width: 75%;
  margin: 3em auto 2em;
  line-height: 1.5em; }

@media (max-width: 640px) {
  .site {
    width: 80%; }

  header {
    margin-bottom: 2em; }
    header .title {
      margin-bottom: 0em; }

  .posts li > a {
    display: block; } }
.header a {
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none; }

.title {
  display: inline-block;
  margin-bottom: 2em; }

.title a {
  color: #d80800;
  font-family: 'Bitter', 'Ubuntu Mono', Helvetica, Arial, sans-serif; }

.title a:hover {
  color: #a50600; }

.header a.extra {
  color: #aaa;
  margin-left: 1em; }

.header a.extra:hover {
  color: #000; }

main.content {
  z-index: 1;
  position: relative; }

.meta {
  color: #aaa; }

.footer {
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden; }

.footer .contact {
  float: left;
  margin-right: 3em; }
  .footer .contact a {
    color: #8085C1; }
  .footer .contact .profile-img {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
    width: 130px;
    height: 130px;
    background-image: url(/assets/img/me/chaordic-hover-profile.png);
    background-size: 100%;
    cursor: pointer; }
    .footer .contact .profile-img:hover {
      background-position-y: 100%; }
  .footer .contact .hand-img {
    position: fixed;
    bottom: 90px;
    right: -19px;
    z-index: 0;
    width: 86px;
    height: 83px;
    background-image: url(/assets/img/hand-hold-bw.png);
    background-size: 100%;
    background-repeat: no-repeat; }

/*--- HEADINGS ---*/
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 24px;
  font-weight: bold; }

h1 {
  font-size: 1.5em;
  /* 24px --> 24 ÷ 16 = 1.5 */
  line-height: 1em;
  /* 24px --> 24 ÷ 24 = 1 */
  font-family: 'Bitter', 'Ubuntu Mono', Helvetica, Arial, sans-serif; }

h2 {
  font-size: 1.375em;
  /* 22px --> 22 ÷ 16 = 1.375 */
  line-height: 1.0909em;
  /* 24px --> 24 ÷ 22 = 1.090909(09) */
  font-family: 'Bitter', 'Ubuntu Mono', Helvetica, Arial, sans-serif; }

h3 {
  font-size: 1.25em;
  /* 20px --> 20 ÷ 16 = 1.25 */
  line-height: 1.2em;
  /* 24px --> 24 ÷ 20 = 1.2 */ }

h4 {
  font-size: 1.125em;
  /* 18px --> 18 ÷ 16 = 1.125 */
  line-height: 1.333em;
  /* 24px --> 24 ÷ 18 = 1.3333333(3) */ }

h5, h6 {
  font-size: 1em;
  /* 16px --> 16 ÷ 16 = 1 */
  line-height: 1.5em;
  /* 24px --> 24 ÷ 16 = 1.5 */ }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em; }

.posts li {
  line-height: 1.75em; }

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%; }

.projects span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%; }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/
/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
  margin-bottom: 1.5em; }

.post ul {
  margin-bottom: 1.5em; }

.post ul, .post ol {
  margin-left: 1.35em; }

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em; }

.post pre code {
  border: none; }

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF; }

.post pre.terminal code {
  background-color: #333; }

/*****************************************************************************/
/*
/* Projects
/*
/*****************************************************************************/
ul.projects > li {
  list-style: none; }

li > .description {
  color: #4A4A4A;
  margin-left: 16px; }

/*# sourceMappingURL=main.css.map */
