@charset "UTF-8";
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft; }

@-webkit-keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0); }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0); }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0); }
  to {
    -webkit-transform: none;
    transform: none; } }
@keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0); }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0); }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0); }
  to {
    -webkit-transform: none;
    transform: none; } }
.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft; }

@-webkit-keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0); }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0); }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0); }
  to {
    -webkit-transform: none;
    transform: none; } }
@keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0); }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0); }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0); }
  to {
    -webkit-transform: none;
    transform: none; } }
.bounceInRight {
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

@-webkit-keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0); }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0); }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0); }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0); }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp; }

/* Clearfix */
.row {
  *zoom: 1; }

.row:before, .row:after {
  display: table;
  content: "";
  line-height: 0; }

.row:after {
  clear: both; }

/* Nested grid */
.row > .row {
  clear: none;
  float: left;
  margin: 0 !important; }

/* Default block */
.col {
  float: left;
  width: 100%; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* close commented backslash hack */
.fr {
  float: right; }

/* Morph Button: Default Styles */
.morph-button {
  position: relative;
  display: block;
  margin: 0 auto; }

.morph-button > button {
  position: relative;
  padding: 0 1em;
  border: none;
  background-color: #e85657;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  line-height: 80px;
  overflow: hidden; }

.morph-button.open > button {
  pointer-events: none; }

.morph-content {
  pointer-events: none; }

.morph-button.open .morph-content {
  pointer-events: auto; }

/* Common styles for overlay and modal type (fixed morph) */
.morph-button-fixed,
.morph-button-fixed .morph-content {
  width: 300px;
  height: 315px; }

.morph-button-fixed > button {
  z-index: 1000;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 0.1s 0.5s;
  transition: opacity 0.1s 0.5s; }

.morph-button-fixed.open > button {
  opacity: 0;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s; }

.morph-button-fixed .morph-content {
  position: fixed;
  z-index: 900;
  opacity: 0;
  -webkit-transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
  transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s; }

.morph-button-fixed.open .morph-content {
  opacity: 1; }

.morph-button-fixed .morph-content > div {
  visibility: hidden;
  height: 0;
  opacity: 0;
  -webkit-transition: opacity 0.1s, visibility 0s 0.1s, height 0s 0.1s;
  transition: opacity 0.1s, visibility 0s 0.1s, height 0s 0.1s; }

.morph-button-fixed.open .morph-content > div {
  visibility: visible;
  height: auto;
  opacity: 1;
  -webkit-transition: opacity 0.3s 0.5s;
  transition: opacity 0.3s 0.5s; }

.morph-button-fixed.active > button {
  z-index: 2000; }

.morph-button-fixed.active .morph-content {
  z-index: 1900; }

/* Transitions for overlay button and sidebar button */
.morph-button-overlay .morph-content,
.morph-button-sidebar .morph-content {
  -webkit-transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;
  transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s; }

.morph-button-overlay.open .morph-content,
.morph-button-sidebar.open .morph-content {
  -webkit-transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;
  transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s; }

/* Morph Button Style: Overlay */
.morph-button.morph-button-overlay {
  margin: 50px auto; }

.morph-button-overlay .morph-content {
  overflow: hidden;
  background: #e85657; }

.morph-button-overlay.open .morph-content {
  top: 0 !important;
  left: 0 !important;
  width: 100%;
  height: 100%; }

/* Morph Button Style: Modal */
.morph-button-modal::before {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 800;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  pointer-events: none; }

.morph-button-modal.open::before {
  opacity: 1;
  pointer-events: auto; }

.morph-button-modal.active::before {
  z-index: 1800; }

.morph-button-modal .morph-content {
  overflow: hidden;
  -webkit-transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
  transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s; }

.morph-button-modal.open .morph-content {
  top: 50% !important;
  left: 50% !important;
  margin: -300px 0 0 -300px;
  width: 600px;
  height: 600px;
  -webkit-transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
  transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s; }

/* Colors and sizes for individual modals */
.morph-button.morph-button-modal-1 {
  float: left; }

.morph-button-modal-1 > button,
.morph-button-modal-1 .morph-content {
  background-color: white;
  border: 1px solid #DDD; }

.morph-button-modal-1::before {
  background: rgba(200, 200, 200, 0.7); }

.morph-button-modal-1.open .morph-content, .morph-button-modal-1.active .morph-content {
  overflow-y: scroll; }

.morph-button-modal-3.open .morph-content {
  margin: -255px 0 0 -210px;
  width: 420px;
  height: 510px; }

.morph-button-modal-3.open .morph-content > div {
  height: 420px; }

.morph-button-modal-2.open .morph-content > div,
.morph-button-modal-3.open .morph-content > div {
  -webkit-transition: opacity 0.3s 0.3s;
  transition: opacity 0.3s 0.3s; }

.morph-button-modal-4.open .morph-content {
  margin: -200px 0 0 -320px;
  width: 640px;
  height: 400px; }

/* Morph Button Style: In the content flow */
.morph-button-inflow {
  overflow: hidden;
  max-width: 100%;
  height: 70px; }

.morph-button-inflow > button {
  width: 100%;
  line-height: 70px; }

.morph-button-inflow .morph-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

.morph-button-inflow .morph-content .morph-clone {
  padding: 0;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 70px; }

/* Colors and sizes for individual in flow buttons */
.morph-button-inflow-1 {
  width: 600px;
  margin: 2em auto;
  -webkit-transition: height 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  transition: height 0.5s cubic-bezier(0.7, 0, 0.3, 1); }

.morph-button-inflow-1 > button span {
  visibility: hidden; }

.morph-button-inflow-1 .morph-content .morph-clone {
  color: #f9f6e5;
  background: #e85657; }

.morph-button-inflow-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 220px;
  background-color: #fef0e3;
  -webkit-transition: height 0.3s, width 0.3s, -webkit-transform 0.3s;
  transition: height 0.3s, width 0.3s, transform 0.3s;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }

.morph-button-inflow-2 > button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: #e75854;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s; }

.morph-button-inflow-2.open > button {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%); }

.morph-button-inflow-2 .morph-content {
  width: 260px;
  height: 200px; }

.morph-button-inflow-2.open {
  width: 260px; }

/* Morph Button Style: Sidebar */
.morph-button-sidebar,
.morph-button-sidebar .morph-content {
  width: 60px;
  height: 60px; }

.morph-button-sidebar {
  position: fixed;
  bottom: 50px;
  left: 50px; }

.morph-button-sidebar > button {
  line-height: 60px;
  font-size: 1.6em;
  padding: 0; }

.morph-button-sidebar .morph-content {
  background: #e85657; }

.morph-button-sidebar.open .morph-content {
  top: 0 !important;
  left: 0 !important;
  width: 300px;
  height: 100%;
  overflow: hidden;
  -webkit-backface-visibility: hidden; }

/* Let's add some nice easing for all cases */
.morph-button .morph-content,
.morph-button.open .morph-content,
.morph-button-modal-4 .morph-clone {
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }

/* Helper classes */
.noscroll {
  overflow: hidden; }

.morph-button-overlay.scroll .morph-content {
  overflow-y: scroll; }

.morph-button-sidebar.scroll .morph-content {
  overflow: auto; }

/* No JS fallback: let's hide the button and show the content */
.no-js .morph-button > button {
  display: none; }

.no-js .morph-button {
  margin: 10px 0;
  float: none; }

.no-js .morph-button,
.no-js .morph-button .morph-content,
.no-js .morph-button .morph-content > div {
  position: relative;
  width: auto;
  height: auto;
  opacity: 1;
  visibility: visible;
  top: auto;
  left: auto;
  -webkit-transform: none;
  transform: none;
  pointer-events: auto; }

.no-js .morph-button .morph-content .icon-close {
  display: none; }

.no-js .morph-button-sidebar {
  width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  height: 100%;
  background: #e85657;
  overflow: auto; }

.no-transition {
  -webkit-transition: none !important;
  transition: none !important; }

/* Media Queries */
@media screen and (max-width: 600px) {
  .morph-button-modal.open .morph-content {
    top: 0% !important;
    left: 0% !important;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    -webkit-transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;
    transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s; } }
@media screen and (max-width: 400px) {
  .morph-button-fixed,
  .morph-button-fixed .morph-content {
    width: 200px;
    height: 80px; }

  .morph-button-fixed > button {
    font-size: 75%; }

  .morph-button-sidebar > button {
    font-size: 1.6em; }

  .morph-button-inflow .morph-content .morph-clone {
    font-size: 0.9em; }

  .morph-button-sidebar,
  .morph-button-sidebar .morph-content {
    width: 100% !important;
    height: 60px !important; }

  .morph-button-sidebar {
    bottom: 0px;
    left: 0px; }

  .morph-button-sidebar.open .morph-content {
    height: 100% !important; } }
/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
/* Global Reset */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #FFF;
  text-align: center; }

h1 {
  margin-bottom: 1em; }

p {
  margin: 1em 0; }

a {
  color: #00a;
  cursor: pointer; }

button {
  cursor: pointer; }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
.site {
  text-align: justify;
  width: 75%;
  margin: 3em auto 2em;
  line-height: 1.5em; }

header {
  position: relative; }
  header img.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; }

main.content {
  z-index: 1; }

.meta {
  color: #aaa; }

.footer {
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden; }

.footer .contact {
  float: left;
  margin-right: 3em; }
  .footer .contact a {
    color: #8085C1; }

.profile-img {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2000;
  width: 130px;
  height: 130px;
  background-image: url(/assets/img/chaordic-hover-profile.png);
  background-size: 100%;
  cursor: pointer; }
  .profile-img:hover, .profile-img.hover {
    background-position: 0 100%; }

.hover-message {
  position: fixed;
  bottom: 40px;
  right: 121px;
  z-index: 2;
  display: none; }

/*=========================================
=            Responsive styles            =
=========================================*/
@media (max-width: 640px) {
  .site {
    width: 80%; }

  .posts li > a {
    display: block; } }
/*-----  End of Responsive styles  ------*/
/*--- HEADINGS ---*/
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', 'Ubuntu Mono', Helvetica, Arial, sans-serif;
  margin-bottom: 24px;
  font-weight: bold; }

body {
  font: 16px 'Ubuntu Mono', Helvetica, Arial, sans-serif; }

h1 {
  font-size: 1.5em;
  /* 24px --> 24 ÷ 16 = 1.5 */
  line-height: 1em;
  /* 24px --> 24 ÷ 24 = 1 */ }

h2 {
  font-size: 1.375em;
  /* 22px --> 22 ÷ 16 = 1.375 */
  line-height: 1.0909em;
  /* 24px --> 24 ÷ 22 = 1.090909(09) */
  font-family: 'Roboto Slab', 'Ubuntu Mono', Helvetica, Arial, sans-serif; }

h3 {
  font-size: 1.25em;
  /* 20px --> 20 ÷ 16 = 1.25 */
  line-height: 1.2em;
  /* 24px --> 24 ÷ 20 = 1.2 */ }

h4 {
  font-size: 1.125em;
  /* 18px --> 18 ÷ 16 = 1.125 */
  line-height: 1.333em;
  /* 24px --> 24 ÷ 18 = 1.3333333(3) */ }

h5, h6 {
  font-size: 1em;
  /* 16px --> 16 ÷ 16 = 1 */
  line-height: 1.5em;
  /* 24px --> 24 ÷ 16 = 1.5 */ }

/*===========================
=            Nav            =
===========================*/
nav {
  position: relative;
  z-index: 10;
  width: 380px;
  padding: 30px 0;
  margin: 0 auto;
  text-align: center; }
  nav a, nav a:visited {
    color: rgba(0, 0, 0, 0.9);
    text-decoration: none; }
  nav h1 {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 100;
    font-size: 38px;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    line-height: normal;
    margin: 0; }
    nav h1.small-title {
      display: none; }
  nav .links {
    margin: 12px 0 16px 0;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s; }
    nav .links .link {
      display: inline-block;
      font-family: sans-serif;
      margin-right: 12px; }
  nav .icons .fa {
    margin-right: 12px;
    opacity: 0.8;
    -webkit-animation-delay: 1.9s;
    animation-delay: 1.9s; }

@media (max-width: 380px) {
  nav {
    width: 260px; }
    nav h1.full-title {
      display: none; }
    nav h1.small-title {
      display: block; } }
/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em; }

.posts li {
  line-height: 1.75em; }

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%; }

.projects span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%; }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/
/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
  margin-bottom: 1.5em;
  overflow-x: scroll; }

.post ul {
  margin-bottom: 1.5em; }

.post ul, .post ol {
  margin-left: 3em; }

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em; }

.post pre code {
  border: none; }

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF; }

.post pre.terminal code {
  background-color: #333; }

.post img {
  display: block;
  margin: 24px auto;
  max-width: 100%;
  max-height: 500px; }

.post .technology {
  color: #ccc;
  border-right: 1px solid #BDBDBD;
  padding-right: 6px;
  padding-left: 6px; }

/*****************************************************************************/
/*
/* Projects
/*
/*****************************************************************************/
.projects {
  max-width: 750px;
  margin: 0 auto; }

.project {
  margin: 24px 24px;
  width: 315px;
  height: 315px;
  float: left;
  overflow: hidden; }
  .project:nth-child(odd) {
    clear: left; }
  .project a {
    text-decoration: none; }
  .project .image {
    height: 200px;
    overflow: hidden;
    position: relative;
    display: block;
    padding: 4px;
    margin-bottom: 18px;
    line-height: 1.42857;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 2px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    background-color: #EAEAEA; }
    .project .image .badge {
      position: absolute;
      bottom: 0;
      right: 0;
      color: black !important;
      font-size: 24px;
      margin: 4px 4px;
      padding: 2px;
      background: rgba(255, 255, 255, 0.7);
      border-radius: 16%; }
  .project .title {
    margin-bottom: 8px; }
  .project .description {
    color: #4A4A4A;
    text-decoration: none;
    margin: 0; }
  .project img.content-image {
    width: 100%;
    margin: 20px 0 0 0; }
  .project ol {
    margin-left: 50px; }
  .project .morph-content h2 {
    display: none; }
  .project .morph-content .modal-header {
    height: 75px;
    padding: 25px 30px 25px 40px;
    border-bottom: none;
    background: #f9f9f9; }
    .project .morph-content .modal-header h2 {
      display: inline; }
    .project .morph-content .modal-header .icon-close {
      cursor: pointer; }
  .project .morph-content .button-prev, .project .morph-content .button-next {
    width: 70px;
    right: -70px;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1060;
    cursor: pointer; }
  .project .morph-content .content-style-text {
    padding: 40px 40px 40px; }

@media (max-width: 970px) {
  .project {
    float: none !important;
    margin: 24px auto; } }
@media (max-width: 400px) {
  .project {
    width: 240px; }
    .project .project-title {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }

  .morph-button-modal-1.open .morph-content, .morph-button-modal-1.active .morph-content {
    padding: 5%; } }

/*# sourceMappingURL=main.css.map */
