---
layout: default
title: Projects
---

<h1>Projects</h1>
<p>Below are a selection of projects I have personally built.</p>

<div class="projects clearfix">
    {% assign sorted_projects = site.projects | sort: 'order', 'last' %}

    {% for project in sorted_projects  %}

        <!-- {{project | to_json}} -->
        <div class="project">
            <a href="{{project.url}}">
                {{project.order }} :: {{project.date | date: "%b %Y" }}
                <div class="image"
                    {% if project.image %}style="background: url('{{project.image}}') 50% 50% / cover no-repeat;"{% endif %}>
                    {% if project.github_link %} <i class="badge fa fa-github"></i> {% endif %}
                </div>
                <h3 class="title">{{ project.title }}</h3>
            </a>
        </div>

    {% endfor %}
</div>

<div class="project-overlay"></div>
{% for project in sorted_projects  %}
    <div data-url="{{project.url}}" class="project-content" type="text/template">
            {{project['content']}}
    </div>
{% endfor %}

