| ---
| layout: default
| title: Projects
| ---
| <!--  -->

h1 Projects
ul.projects
	li
		a(href="/projects/checkers") Checkers
		div.description HTML5 canvas checkers game.
	li
		a(href="http://simple-markdown-chat.herokuapp.com") Simple markdown chat
		div.description Fed up with chat clients not having markdown for pasting code, so made my own.
	li
		a(href="/projects/angular-slideout") Angularjs slideout directive.
		div.description An angularjs directive for slideout menus principally for mobiles.
	li
		a(href="/projects/Word-tree/static") Word tree and anagram solver.
		div.description Intended as a tool for diambiguating similarly spelt words.
			| I used <code style="  background-color: #eef; padding: 0 .2em; font-family: 'Ubuntu Mono', Helvetica, Arial, sans-serif;">/usr/share/dict/words</code> to generate the tree and for fun I also made an anagram solver.
	li
		a(href="https://github.com/mfbx9da4/shit-refresh") Shit refresh
		div.description A chrome extension for clearing localStorage and cookies cache with refresh.