| ---
| layout: default
| title: Projects
| ---
| <!--  -->

h1 Projects
p
	| Below are a selection of some small side projects I have personally built,
	| group projects are not listed here.
.projects
	div.project
		a(href="http://fube.io")
			div(class="image")
			h3.title Fube
		p.description Finds new music by crawling facebook for posts with music links.
	div.project
		a(href="/projects/checkers")
			div(class="image")
			h3.title Checkers
		p.description HTML5 canvas checkers game.
	div.project
		a(href="http://simple-markdown-chat.herokuapp.com")
			div(class="image")
			h3.title Simple markdown chat
		p.description Fed up with chat clients not having markdown for pasting code, so made my own.
	div.project
		a(href="/projects/angular-slideout")
			div(class="image")
			h3.title Angularjs slideout directive
		p.description An angularjs directive for slideout menus principally for mobiles.
	div.project
		a(href="/projects/Word-tree/static")
			div(class="image")
			h3.title Word tree and anagram solver
		p.description Intended as a tool for diambiguating similarly spelt words.
				| I used <code style="  background-color: #eef; padding: 0 .2em; font-family: 'Ubuntu Mono', Helvetica, Arial, sans-serif;">/usr/share/dict/words</code> to generate the tree and for fun I also made an anagram solver.
	div.project
		a(href="https://github.com/mfbx9da4/shit-refresh")
			div(class="image")
			h3.title Shit refresh
		p.description A chrome extension for clearing localStorage and cookies cache with refresh.
