/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
	widows: 100%;
}

body {
  background-color: #FFF;
  font: 16px 'Ubuntu Mono', Helvetica, Arial, sans-serif;
  text-align: center;
}

h1 {
  margin-bottom: 1em;
}
p { margin: 1em 0; }

a         { color: #00a; cursor: pointer;}
a:hover   { color: #000; }
a:visited { color: #a0a; }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  text-align: justify;
  width: 75%;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.header a {
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
}

.title {
  display: inline-block;
  margin-bottom: 2em;
}

.title a {
  color: #d80800;
  font-family: 'Bitter', 'Ubuntu Mono', Helvetica, Arial, sans-serif;
}

.title a:hover {
  color: darken(#d80800, 10%);
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

main.content {
  z-index: 1;
  position: relative;
}

.meta {
  color: #aaa;
}


.footer {
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;

  a {
    color: #8085C1;
  }

  .profile-img {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;

    width: 130px;
    height: 130px;

    background-image: url(/assets/img/me/chaordic-hover-profile.png);
    background-size: 100%;
    cursor: pointer;

    &:hover {
      background-position: 0 100%;
    }
  }

  .hand-img {
    position: fixed;
    bottom: 90px;
    right: -19px;
    z-index: 0;

    width: 86px;
    height: 83px;

    background-image: url(/assets/img/hand-hold-bw.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }
}

/*=========================================
=            Responsive styles            =
=========================================*/

@media (max-width: 640px) {
  .site {
    width: 80%;
  }
  header.header {
    margin-bottom: 2em;

    .title {
      margin-bottom: 0.4em;
    }

    a.extra {
      margin-right: 1em;
      margin-left: 0em;
    }
  }

  .posts li > a {
    display: block;
  }
}

/*-----  End of Responsive styles  ------*/
