
.icon-graduation-cap:before { content: '\e800'; } /* '' */
.icon-ellipsis-vert:before { content: '\e801'; } /* '' */
.icon-beaker:before { content: '\e802'; } /* '' */
.icon-align-left:before { content: '\e803'; } /* '' */
.icon-mobile:before { content: '\e804'; } /* '' */