doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title {{ page.title }}
    script(src="http://localhost:12345/livereload.js")
    meta(name='viewport', content='width=device-width')
    //
       syntax highlighting CSS 
    link(rel='stylesheet', href='/css/syntax.css')
    //
       Custom CSS 
    link(rel='stylesheet', href='/css/main.css')
  body
    .site
      .header
        h1.title
          a(href='/') {{ site.name }}
        a.extra(href='/') home
        a.extra(href='/projects') projects
        a.extra(href='http://davidadler.me') cv
      | {{ content }}
      .footer
        .contact
          p
            | Github
            br
            | 
            br
            | dalberto.adler@gmail.com
        .contact
          p
            a(href='https://github.com/mfbx9da4') github.com/mfbx9da4
            br
            a(href='http://br.linkedin.com/pub/david-adler/71/566/710/') linkedIn
            br
