nav
	h1.title.full-title
		a(href='/') David Alberto Adler
	h1.title.small-title
		a(href='/') David Adler
	.links
		.link
			a(href="/posts") BLOG
		.link
			a(href="/assets/cv.pdf", target="_blank") CV
		.link
			a(href="/about") ABOUT
		.link
			a(href="/projects") WORK
	.icons
		a(href="https://github.com/mfbx9da4", target="_blank")
			i.fa.fa-lg.fa-github-square
		a(href="http://br.linkedin.com/pub/david-adler/71/566/710/", target="_blank")
			i.fa.fa-lg.fa-linkedin-square
		a(href="mailto:dalberto.adler@gmail.com", target="_blank")
			i.fa.fa-lg.fa-envelope
		a(href="http://stackoverflow.com/users/1376627/david-adler", target="_blank")
			i.fa.fa-lg.fa-stack-overflow
