*, *:before, *:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: courier;
}
video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
main {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 99;
	display: table;
	overflow: hidden;
}
.hide {
	display: none !important;
}
.inline {
	display: inline;
}
.print {
	position: fixed;
	top: 0;
	left: 0;
	width: 390px;
	font-weight: bold;
}
.result {
	color: green;
}
section.intro {
	position: absolute;

	width: 100%;
	height: 100%;
	display: table;

	color: white;
	font-weight: bold;
	font-size: 30px;
	line-height: 45px;
	font-family: courier, 'Bitter', cursive;
}

.v-centered {
	display: table-cell;
	vertical-align: middle;
  // text-align: center;
}

section.intro div.vertically-centered-wrapper {
	@extend .v-centered;
	padding-left: 16px;

	.intro-text-content {
		background: white;
		color: #333;
		max-width: 350px;
		padding: 20px;
		font-size: 21px;
		font-weight: lighter;
		opacity: 0.90;
		min-height: 85px;

		a {
			font-weight: normal;
		}
	}
}

.loader-container {
	@extend .v-centered;
}
@import "landing-page-loader";

