/* Clearfix */
.row {
  *zoom: 1;
}
.row:before, .row:after {
  display: table;
  content: "";
  line-height: 0;
}
.row:after {
  clear: both;
}

/* Nested grid */
.row > .row {
  clear: none;
  float: left;
  margin: 0 !important;
}

/* Default block */
.col {
  float: left;
  width: 100%;
}
