/* Clearfix */
.row {
  *zoom: 1;
}
.row:before, .row:after {
  display: table;
  content: "";
  line-height: 0;
}
.row:after {
  clear: both;
}

/* Nested grid */
.row > .row {
  clear: none;
  float: left;
  margin: 0 !important;
}

/* Default block */
.col {
  float: left;
  width: 100%;
}

.clearfix:after {
 visibility: hidden;
 display: block;
 font-size: 0;
 content: " ";
 clear: both;
 height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
