/*****************************************************************************/
/*
/* Projects
/*
/*****************************************************************************/
.project {
	margin-top: 24px;

	.image {
		// height: 200px;
		// width: 200px;
		background-color: #EAEAEA;
	}

	.title {
		margin-bottom: 8px;
	}

	.description {
		color: #4A4A4A;
		text-decoration: none;
		margin: 0;
	}
}
